* {box-sizing: border-box}

form {
  margin: auto;
}

input[type=text], input[type=textarea], select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text], select {
  height: 20px;
}

input[type=textarea] {
  height: 80px;
}

button {
  height: 50px;
}

.calculatebtn {
  width: 80%;
  display: block;
  margin: auto;
}

.saveopen {
  display: flex;
  justify-content: space-around;
}

.saveopenbtn {
  width: 45%;
}

#result {
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px
}